@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    scroll-behavior: smooth;
    font-family: 'Raleway', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.custom-img {
    background: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("./background.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.footer-img {
    background: url("https://static.vecteezy.com/system/resources/thumbnails/009/703/593/original/animation-neon-light-heart-romantic-background-love-and-romance-sign-4k-footage-dark-background-video.jpg");
}

.quote {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li {
    transition: all 0.2s ease-in-out 0.1s;
  }